<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a class="navbar-header text-center" routerLink="/">
    <img src="assets/wxl-feather-full.svg" class="navbar-brand" alt="WriterXL Logo">
  </a>
  <div class="position-relative float-end" *ngIf="(auth.isAuthenticated$ | async) === false">
    <button class="btn nav-icon" type="button" routerLink="/app">
      <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
  </div>
  <div class="position-relative float-end" *ngIf="auth.user$ | async as user">
    <ul ngbNav #nav="ngbNav" class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle id="profileDropdown">
          <img [src]="user.picture" class="rounded-icon" [alt]="user.nickname">
        </a>
        <div class="dropdown-menu" aria-labelledby="profileDropdown" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/app/profile">Profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
